# Face images
*.jpg
*.Jpg
*.png
*.ai

# Ignore directories
/Media
/Old
/Landmarks
/scratch

# Matlab files
*_v*.m
*.m~
*.mat

# Dropbox settings and caches
*.dropbox
*.dropbox.attr
*.dropbox.cache

# OS X
*.DS_Store
