# Face images
*.jpg
*.Jpg
*.png
*.ai

# Ignore directories
/Media
/Old
/Landmarks
/scratch
/SavedModels
/Evaluation

# Matlab files
*_v*.m
*.m~
*.mat
*.asv

# Dropbox settings and caches
*.dropbox
*.dropbox.attr
*.dropbox.cache

# OS X
*.DS_Store
